<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="MysqlAddress" value="Data Source=192.168.1.70;Port=3306;Database=test;User ID=writeuser;Password=writeuser;Charset=utf8"/>
    <!--<add key="MysqlAddress" value="Data Source=localhost;Port=3306;Database=test;User ID=root;Password=mc0321..;Charset=utf8"/>-->

    <!-- 饭店地点 0:李庄白肉/1:又一村 默认0-->
    <add key="store" value="0"/>
    <!-- 素菜个数 默认2-->
    <add key="SuCount" value="1"/>
    <!-- 荤菜个数 默认2-->
    <add key="HunCount" value="2"/>
    <!-- 总价格不超过该值 默认90-->
    <add key="SumMaxPrice" value="95"/>
    <!-- 总价格不低于该值 默认85-->
    <add key="SumMinPrice" value="85"/>

  </appSettings>
</configuration>