<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="MysqlAddress" value="Data Source=192.168.1.70;Port=3306;Database=test;User ID=writeuser;Password=writeuser;Charset=utf8"/>
    <!--<add key="MysqlAddress" value="Data Source=localhost;Port=3306;Database=test;User ID=root;Password=mc0321..;Charset=utf8"/>-->

    <!-- 开启线程 -->
    <add key="StartThread" value="3"/>

    <!-- 起始ID -->
    <add key="Startpoint" value="109851"/>

    <!-- 终点ID -->
    <add key="Endpoint" value="5300000"/>

    <!-- 线程数 -->
    <add key="ThreadNum" value="10"/>

  </appSettings>
</configuration>